@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');
body{
  margin: 0;
}

a {
    color: #182145;
    text-decoration: none;
    transition: 1s;
    font-family: montserrat,Sans-serif;
    font-size: 19px;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  
  nav {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background: #FFFFFF;
    height: 10vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 0.3px;
    margin-left: 32px;
  }

.main-login{
    background: #182145;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.left-login{
    position: relative;
    padding-left: 10px;
    margin-left: 30px;
    margin-top: 10px;
}

.left-login-item::before {
    content: "";
    position: absolute;
    left: -5px; /* Ajusta a posição da linha vertical */
    top: -50px; /* Ajusta a posição da linha vertical */
    bottom: -50px; /* Ajusta a posição da linha vertical */
    width: 1px; /* Define a largura da linha vertical */
    background-color: white; /* Define a cor da linha */
  }

.left-login > h1{
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #FFFFFF;
    font-family: montserrat,Sans-serif;
    font-size: 40px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.left-login > p{
    padding: 0;
    margin: 0;
    font-family: montserrat,Sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 32px;
    color: #FFFFFF;
}

.left-login > button{ 
    padding: 12px;
    margin-top: 16px; 
    border-radius: 50px;
    color: #FFFFFF;
    font-family: montserrat,Sans-serif;
    font-weight: 300px;
    font-weight: 300;
    border-color: white;
    letter-spacing: 0.5px;
    background-color: #182145;
    border-color: white;
    border-width: 1px;
    cursor: pointer;

}


.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px; 
}



.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
